[package]
name = "woodpecker_ui"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[workspace]
members = ["crates/*"]

[features]
default = []
debug-render = []

[dependencies]
bevy = "0.14"
bevy-trait-query = { git = "https://github.com/RobWalt/bevy-trait-query", rev = "215b9068e8457d96ddcd4c8efa9605ba0f8feda5" }
bevy-inspector-egui = "0.25"
taffy = { version = "0.5", features = ["flexbox", "grid"] }
bevy_vello = "0.5"
bevy_mod_picking = "0.20"
smol_str = { version = "0.2", default-features = false }
unicode-segmentation = "1.10.0"
arboard = "3.4"
interpolation = "0.2"
cosmic-text = "0.12"

# Local
woodpecker_ui_macros.path = "crates/woodpecker_ui_macros" # TODO: Make this crates.io friendly..

[dev-dependencies]
calc = { version = "0.4.0", default-features = false }
bevy = { version = "0.14", features = ["jpeg"] }

[patch.crates-io]
bevy_mod_picking = { git = "https://github.com/StarArawn/bevy_mod_picking", branch = "main" }
bevy_eventlistener = { git = "https://github.com/StarArawn/bevy_eventlistener", branch = "main" }

[[example]]
name = "todo"
path = "examples/todo/todo.rs"
